<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout3"
        layout:decorate="~{layout3}">
    <head>
        <title>Smart Learn</title>


    </head>
    <body>
        <div layout:fragment="content3">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{user.list.headline}]]</h1>
              
            </div>
            <div th:if="${users.empty}">[[#{user.list.empty}]]</div>
            <div th:if="${!users.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <caption>List of users</caption>
  
                    <thead>
                        <tr>
                            <th scope="col">[[#{user.userId.label}]]</th>
                            <th scope="col">[[#{user.username.label}]]</th>
                            <th scope="col">[[#{user.email.label}]]</th>
                            <th scope="col">[[#{user.password.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="user : ${users}">
                            <td>[[${user.userId}]]</td>
                            <td>[[${user.username}]]</td>
                            <td>[[${user.email}]]</td>
                            <td>[[${user.password}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/admin/users/edit/{userId}(userId=${user.userId})}" class="btn btn-sm btn-secondary">Assign roles</a>
                                    <form th:action="@{/admin/users/delete/{userId}(userId=${user.userId})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{user.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
