<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout3"
        layout:decorate="~{layout3}">
    <head>
        <title>Smart Learn</title>

    </head>
    <body>
        <div layout:fragment="content3">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{userProgress.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/admin/userProgresses}" class="btn btn-secondary">[[#{userProgress.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('userProgress')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='userProgress', field='progressId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userProgress', field='completionStatus', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userProgress', field='user', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userProgress', field='course', type='select')}" />
                <input type="submit" th:value="#{userProgress.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
