<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Smart Learn</title>
</head>

<body>
    <div layout:fragment="content">

        <div class="container mt-5">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">About Smart Learn Application</h1>
                    <p class="col-md-8 fs-4">
                        Smart Learn is a cutting-edge educational platform designed to empower individuals and
                        facilitate seamless learning experiences. Choose your role and explore the features tailored
                        to your needs!
                    </p>
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Our Mission</h2>
                        <p>
                            Smart Learn's mission is to provide a dynamic and interactive learning environment for
                            Users, Admins, and Faculty members. Our commitment is to foster a community of knowledge
                            seekers and creators, pushing the boundaries of education for all roles involved.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
