<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Smart Learn</title>
</head>

<body>
    <div layout:fragment="content">

        <div class="container mt-5">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Contact Us</h1>
                    <p class="col-md-8 fs-4">
                        Have questions or need assistance? Feel free to get in touch with us!
                    </p>
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>Contact Information</h2>
                        <ul class="list-unstyled">
                            <li><strong>Name:</strong> Lucky Mourya</li>
                            <li><strong>Occupation:</strong> Full Stack Web Developer</li>
                            <li><strong>Email:</strong> luckymourya582@gmail.com</li>
                            <li><strong>Phone:</strong> +91 9165309608</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Connect With Us</h2>
                        <ul class="list-unstyled">
                            <li>
                                <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                    href="https://www.linkedin.com/in/lucky-mourya-968b6126b/"><strong>LinkedIn</strong></a>
                            </li>
                            <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                    href="https://github.com/DEveL0perLuckY"><strong>Github</strong></a></li>
                            <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                    href="https://www.instagram.com/luckymourya007/"><strong>Instagram</strong></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>